[Desktop Entry]
Name=Purr
GenericName=Universal Application Discovery & Installer
Comment=Search and install applications prioritizing System, AUR, Flatpak, and AppImage (Project Tuki)
Exec=konsole --desktopfile purr.desktop -qwindowtitle "Purr" -qwindowicon purr -e purr
Icon=purr
Terminal=false
Type=Application
Categories=System;PackageManager;
Keywords=package;install;pacman;aur;flatpak;appimage;purr;tuki;software;store;
StartupNotify=true
StartupWMClass=purr
X-KDE-Wayland-App-Id=purr.desktop
X-Wayland-App-Id=purr.desktop
